body{
font-family:Arial;
margin:0;
background:yellow;
}
header{
background:blue;
color:white;
padding:15px;
text-align:center;
}
nav ul{
list-style:none;
padding:0;
}
nav ul li{
display:inline;
margin:15px;
}
nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
}
section{
padding:40px;
text-align:center;
}
#projects{
display:flex;
justify-content:center;
flex-wrap:wrap;
}
.project{
background:white;
padding:20px;
margin:20px;
width:250px;
box-shadow:0 0 10px lightblue;
}
.project img{
width:100%;
}
.project a{
display:inline-block;
margin-top:10px;
text-decoration:none;
color:green;
background:orange;
padding:8px 15px;
}
footer{
background:orange;
color:white;
text-align:center;
padding:10px;
}
@media(max-width:768px){
#projects{
flex-direction:column;
align-items:center;
}
nav ul li{
display:block;
margin:10px;
}
}
html{
    scroll-behavior: smooth;
}
ul{
list-style-position:inside;
padding:0;
}
